body {
    /*background-image: url('../img/background-1080.jpg');*/
	background-size: 1024px 768px;
}


#circle {
	background: rgb(0,0,0);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 15px;
	top: 80px;
	z-index: -1;
}

#slider-number {
    color: white;
	position: absolute;
	left: 20px;
	top: 80px;
}

#leds-pc {
}

#leds-smartphone {
visibility: hidden;
}

#leds-slider {
	position: absolute;
	left: 45px;
	top: 78px;
}
