body {
    /*background-image: url('../img/background.jpg');
	background-size: 1099px 900px;*/
	background-color: green;
}


#circle {
	background: rgba(150,150,255,1);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 12px;
	top: 80px;
	z-index: -1;
}

#slider-number {
    visibility: hidden;
    color: white;
	position: absolute;
	left: 10px;
	top: 10px;
}

#leds-slider {
    visibility: hidden;
}

#leds-number {
}

#leds {
    color: black;
	position: absolute;
	left: 20px;
	top: 70px;
}
